.footer {
    display: flex;
    align-items: center;
    height: 0;
}

.copyright {
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 14px;
    color: #B4B4B8;
    padding-left: 24px;
    padding-bottom: 16px;
}

.message {
    position: absolute;
    bottom: 0;
    right: 0;
    padding-right: 24px;
    padding-bottom: 16px;
    display: flex;
}


.footer .icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    font-size: 20px;
    color: #B4B4B8;
    cursor: pointer;
    margin-left: 30px;
}
.footer .icon :hover {
    color: #333;
}
