.filter {
    display: flex;
    align-items: center;
    padding: 0 24px 24px 24px;
}

.blockDelay {
    margin-left: 12px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 26px;
    color: #9B9A9D;
}

.filterTab {
    display: flex;
    width: 260px;
    justify-content: space-between;
}

.filterActive {
    padding: 9px 24px;
    width: 124px;
    height: 44px;
    background: #217AFF;
    border-radius: 12px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;

}

.filterUnActive {
    padding: 9px 24px;
    width: 124px;
    height: 44px;
    background: #FFFFFF;
    border-radius: 12px;
    border: 1px solid #EDEDED;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 26px;
    color: #131214;
}

.period {
    display: flex;
    margin-left: auto;
}

.period label {
    font-size: 16px;
    font-weight: 600;
    color: #131214;
}

.period ul {
    display: flex;
    list-style: none;
    padding: 0;

}

.period li {
    list-style: none;
    margin-left: 30px;
    font-size: 18px;
    font-weight: 600;
    color: #B4B4B8;
    cursor: pointer;

}


.period .active {
    color: #131214;
    cursor: default;
}
