.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 24px;
}

.header .logo {
    width: 130px;
    height: 44px;
    line-height: 44px;
    text-align: center;
}

.header .search {
    flex: 1;
    padding: 0 24px;
}

.headerAcount {
    height: 44px;
    width: 174px;
    border: 1px solid #DCDCE0;
    border-radius: 12px;
    text-align: center;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header .wallet {}

.nav {
    flex: 1;
}

.nav span {
    margin-left: 30px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 26px;
    color: #9B9A9D;
}

.nav span:hover {
    color: black;
}