@import '~antd/dist/antd.css';

body {
    margin: 0;
}



.headerInput {
    border-radius: 90px;
    border: 0;
    padding: 11px 15px;
    background-color: #F6F6F6;
}

.headerInput .ant-input {
    background-color: #F6F6F6;

}

.headerWallet {
    height: 44px;
    width: 174px;
    padding: 10px 12px;
    border-radius: 12px;
}


.bigButton {
    height: 44px;
    padding: 10px 12px;
    border-radius: 12px;
}

/* 表头样式 */
.ant-table-thead > tr > th {
    background-color: #fff;
    color: #9B9A9D;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
}
.ant-table-thead > tr > th:last-child {
    text-align: right;
}
